*{
    border: 0;
    margin: 0;
    padding: 0;
    
}
.section-m{
    margin-left: 70px;
    margin-right: 70px;
}
.navbar{
    background-color: #fff;
    padding: 20px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 700;
}

/* hero section */
.hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.hero .hero-text{
    width: 50%;
}
.hero .hero-text h1{
    font-size: 44px;
    color: #21243D;
    margin-bottom: 14px;
}
.hero .hero-text p{
    font-size: 16px;
    color: #21243D;
    margin-bottom: 34px;
    max-width: 480px;
}

.hero .hero-text button{
    padding: 8px;
    background-color: #FF6464;
    
}
.hero .hero-text button a{
    text-decoration: none;
    color: #fff;
}

.hero .hero-image{
    
}
.hero .hero-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 100px;
}

/* recent post */
.recent-post{
    height: 396px;
    background-color: #EDF7FA;
    margin-top: 50px;
}
.recent-post .post-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.recent-post .post-text p{
    margin-left: 55px;
    margin-top: 10px;
}
.recent-post .post-text span{
    color: blue;
    margin-right: 55px;
    margin-top: 10px;
}
.recent-post .post-card{
 display: flex;
 justify-content: space-evenly;
}
.recent-post .post-card .post-card-1{
    width: 480px;
    height: 295px;
    background-color: #fff;
}
.recent-post .post-card .post-card-1 h1{
    margin-left: 15px;
    margin-bottom: 80px;
}
.recent-post .post-card .post-card-1 p{
    margin-left: 15px;
    margin-bottom: 20px;  
}
.recent-post .post-card .post-card-1 p span{
    padding-left: 20px;
}
.recent-post .post-card .post-card-1 .p-text {
    margin-top: 80px;
}
