.hero{
    background-image: url('art.jpg');
    height: 200px;
}
.hero #head{
  margin-left: 33px;
  padding-bottom: 20px;
  
}
body{
    background-color: blue;
}
.owner img{
    height: 200px;
    width: 200px;
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 50%;
    
}
.owner h2{
    margin-left: 165px;
    margin-top: 20px;
    color: white;
    
}

/* pdts section */
#pdts{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.main-div{
 margin-top: 20px;    
}
.main-div .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
   
}
.main-div .container .box{
    background-color: white;    
}
#pdts h2{
    text-align: center;
    color: white;
}
.box img{
    height: 200px;
    width: 200px;
}


@media(max-width: 480px){
        #head{
        color: brown;
        display: none;
    }
        .owner img{
            margin-left: 80px;
    }
}
@media(max-width: 768px){
    
}