body{
    background-color: #dddddd;
}
.md-sec{
    margin-left: 60px;
    margin-right: 60px;
}
.header-text{
    text-align: center;
    font-size: 30px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.box{
    width: 30%;
    height: 250px;
    background-color: #fff; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.box .box-margin{
    margin: 10px;
}
.box hr{
    width: 100%;
    background-color: #FC0FC0;
    height: 18px;
    margin-bottom: 30px;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    border: none;
}
.box .head-hr2{
    background-color: #00CDFE;
    
}
.box .head-hr3{
    background-color: #0DAC50;
}
.box .head-hr4{
    background-color: #FED000;
}
.box .head-hr5{
    background-color: #8820ed;
}
.box .head-hr6{
    background-color: #ff99a8;
}
.box img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.box i{
    color: #fff;
    border-radius: 50%;
    padding: 15px;
}

.box .icon1{
    background-color: #FC0FC0;
}
.box .icon2{
    background-color: #00CDFE;
}